div {
	border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
	}

#grid_container  {
	width: 600px;
	}

.gridDiv  {
	display: inline-block;
	}